---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
}

const { title, description, publishDate, url } = Astro.props as Props;
const prettyUrl = url.replace('.html', '');
---

<article>
	<header>
		<h2>{title}</h2>
		<time>{publishDate}</time>
	</header>
	<p>{description}</p>
	<a href={prettyUrl}>Read more</a>
</article>
