:root {
  --accent-color: #ff5d01;
  --background-color: #ffffff;
  --color: var(--color-gray-800);
  --text-color: rgb(64, 64, 64);
  --text-color-light: var(--color-gray-400);

  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-600: #4b5563;
  --color-gray-800: #1f2937;

  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff5d01;
    --background-color: #000014;
    --color: var(--color-gray-200);
    --text-color: var(--color-gray-400);
    --text-color-light: var(--color-gray-600);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: inline;
  font-family: system-ui;
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--color);
  max-width: 75ch;
  padding: var(--spacing-2);
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: var(--spacing-3);
  flex-grow: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  fill: var(--text-color);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: var(--spacing-2) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  font-weight: 700;
}

a,
p,
li {
  color: var(--text-color);
}

li p {
  margin: var(--spacing-1) 0;
}

nav {
  display: flex;
  gap: var(--spacing-4);
}

nav a {
  color: var(--accent-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: var(--spacing-2);
  display: flex;
  justify-content: end;
  gap: var(--spacing-4);
}

@media (min-width: 768px) {
  body {
    padding: var(--spacing-4);
    font-size: 18px;
  }
  nav {
    margin-bottom: var(--spacing-4);
  }
}

time {
  display: inline;
  color: var(--text-color-light);
}

header :is(h1, h2) {
  font-size: 1.25rem;
  display: inline;
  margin-right: var(--spacing-1);
}

article {
  margin-bottom: var(--spacing-2);
}

.responsive-image {
  /* 16:9 image container */
  padding-top: 56.25%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.responsive-image > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.astro-code {
  border-radius: 8px;
  padding: var(--spacing-2);
  width: 100%;
  font-size: 0.85em;
}
