---
import Page from "../components/Page.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate?: string;
	};
}

const {
	content: { title, description, publishDate },
} = Astro.props as Props;
---

<Page title={title} description={description}>
  <article>
    <header>
      <h1 class="title">{title}</h1>
      {publishDate && <time>{publishDate}</time>}
    </header>
    <main>
      <slot></slot>
    </main>
  </article>
</Page>

<style>
	header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
		margin-bottom: 1rem;
	}

	.title,
	time {
		margin: 0;
	}

	time {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 1.5rem;
		font-weight: 700;
	}
</style>
